Tarea 3/flows.json
[
    {
        "id": "ea3090fc.fa2968",
        "type": "tab",
        "label": "Dani-Guille-Luis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d05a8298.c8ae2",
        "type": "inject",
        "z": "ea3090fc.fa2968",
        "name": "Ver",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "e746cc4e.4db39",
                "1c4152a.e0fd72d"
            ]
        ]
    },
    {
        "id": "e746cc4e.4db39",
        "type": "particle-SSE",
        "z": "ea3090fc.fa2968",
        "pcloud": "",
        "subscribetype": "devid",
        "devprodslug": "e00fce68d503cd57cf4fd99e",
        "devid": "",
        "evtname": "",
        "strict": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "94b06f93.b8db18",
                "6b4ac6c2.098538",
                "881c32de.c8997"
            ]
        ]
    },
    {
        "id": "881c32de.c8997",
        "type": "function",
        "z": "ea3090fc.fa2968",
        "name": "Si la humedad es > 45%",
        "func": "// Envío de aviso al email por porcentaje de humedad mayor al 45% establecido\nif(msg.payload.name && msg.payload.name==\"Humedad\"){\nvar humidity=Math.floor(parseFloat(msg.payload.data).toFixed(2));\n if(humidity>45){\n\n        msg.payload=\"La humedad está por encima de \"+humidity+\"%\"; \n        msg.to=\"inaki.rubio.imh@gmail.com\";\n        msg.topic=\"Aviso: Porcentaje elevado de humedad en el ambiente\";\n        return msg;\n    }\n  \n  \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 560,
        "wires": [
            [
                "e2ec17f3.72b33"
            ]
        ]
    },
    {
        "id": "6b4ac6c2.098538",
        "type": "function",
        "z": "ea3090fc.fa2968",
        "name": "Obtencion de datos",
        "func": "var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\nvar msg6={};\n\n\nif(msg.payload.name && msg.payload.name==\"Temperatura\"){\n\nmsg1.payload=Math.floor(parseFloat(msg.payload.data).toFixed(2));\n\nreturn[msg1,null,null]; \n\n}\n\nif(msg.payload.name && msg.payload.name==\"Humedad\"){\n\nmsg2.payload=Math.floor(parseFloat(msg.payload.data).toFixed(2));\n\nreturn[null,msg2,null]; \n}\n\n\nif(msg.payload.name && msg.payload.name==\"spark/status\"){\n\n    if(msg.payload.data==\"online\"){\n        \n        msg3.payload=true; \n        \n    }else if(msg.payload.data==\"offline\"){\n\n        msg3.payload=false;\n    }\n\nreturn[null,null,msg3]; \n}\n\n//Añadido\nif(msg.payload.name && msg.payload.name==\"eCO2\"){\n\nmsg4.payload=Math.floor(parseInt(msg.payload.data).toFixed(2));\n//msg4.topic=\"Line1\";\n\nreturn[null, null, null, msg4]; \n}\n\nif(msg.payload.name && msg.payload.name==\"TVOC\"){\n\nmsg5.payload=Math.floor(parseInt(msg.payload.data).toFixed(2));\n//msg5.topic=\"Line2\";\n\nreturn[null,null, null, null, msg5]; \n}\n\n\nif(msg.payload.name && msg.payload.name==\"Noise\"){\n\nmsg6.payload=Math.floor(parseInt(msg.payload.data).toFixed(2));\n//msg6.topic=\"Line2\";\n\nreturn[null,null, null, null, null, msg6]; \n}\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 420,
        "wires": [
            [
                "fb94a245.82d248",
                "871167cb.2643f8",
                "968beca2.f43dd8"
            ],
            [
                "794afc7d.d05cd4",
                "871167cb.2643f8",
                "369c5f7b.1ef518"
            ],
            [
                "5cf44ba7.24b8f4",
                "871167cb.2643f8"
            ],
            [
                "f010bbea.892e6",
                "43f21eba.38ef48"
            ],
            [
                "e1071d83.579d68",
                "2588bc74.8335f4"
            ],
            [
                "f6e4fc49.f81a28",
                "27a44ae.68b2b36"
            ]
        ],
        "outputLabels": [
            "Temperatura",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "94b06f93.b8db18",
        "type": "debug",
        "z": "ea3090fc.fa2968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "871167cb.2643f8",
        "type": "debug",
        "z": "ea3090fc.fa2968",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb94a245.82d248",
        "type": "ui_gauge",
        "z": "ea3090fc.fa2968",
        "name": "Temperatura (gauge)",
        "group": "a936c760.9e0ba",
        "order": 9,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Temperatura (ºC)",
        "label": "Grados Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 1520,
        "y": 340,
        "wires": []
    },
    {
        "id": "794afc7d.d05cd4",
        "type": "ui_chart",
        "z": "ea3090fc.fa2968",
        "name": "Humedad (gráfica)",
        "group": "a936c760.9e0ba",
        "order": 10,
        "width": 15,
        "height": 4,
        "label": "Humedad (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Information should be seen soon",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2680c0",
            "#aec7e8",
            "#ea8b39",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1490,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f010bbea.892e6",
        "type": "ui_chart",
        "z": "ea3090fc.fa2968",
        "name": "Calidad del aire (gráfico)",
        "group": "a936c760.9e0ba",
        "order": 11,
        "width": 15,
        "height": 4,
        "label": "eCO2 (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f6e4fc49.f81a28",
        "type": "ui_gauge",
        "z": "ea3090fc.fa2968",
        "name": "Ruido (gauge)",
        "group": "a936c760.9e0ba",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Ruido (dB.)",
        "label": "Decibelios",
        "format": "{{value}}",
        "min": 0,
        "max": "140",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "95",
        "seg2": "115",
        "x": 1480,
        "y": 800,
        "wires": []
    },
    {
        "id": "e2ec17f3.72b33",
        "type": "e-mail",
        "z": "ea3090fc.fa2968",
        "server": "smtp.gmail.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "iarakis@kaixo.com",
        "dname": "Enviar Email",
        "x": 1020,
        "y": 660,
        "wires": []
    },
    {
        "id": "1c4152a.e0fd72d",
        "type": "ui_media",
        "z": "ea3090fc.fa2968",
        "group": "a936c760.9e0ba",
        "name": "Media 7",
        "width": 5,
        "height": 2,
        "order": 1,
        "category": "IMH",
        "file": "logo.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf44ba7.24b8f4",
        "type": "ui_led",
        "z": "ea3090fc.fa2968",
        "group": "a936c760.9e0ba",
        "order": 3,
        "width": 4,
        "height": 2,
        "label": "Status del Dispositivo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 1490,
        "y": 540,
        "wires": []
    },
    {
        "id": "e1071d83.579d68",
        "type": "ui_chart",
        "z": "ea3090fc.fa2968",
        "name": "Partículas volátiles (gráfico)",
        "group": "a936c760.9e0ba",
        "order": 12,
        "width": 15,
        "height": 4,
        "label": "tVOC (PPM.)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "369c5f7b.1ef518",
        "type": "ui_gauge",
        "z": "ea3090fc.fa2968",
        "name": "Humedad (gauge)",
        "group": "a936c760.9e0ba",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Humedad (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1490,
        "y": 440,
        "wires": []
    },
    {
        "id": "43f21eba.38ef48",
        "type": "ui_gauge",
        "z": "ea3090fc.fa2968",
        "name": "Calidad del aire (gauge)",
        "group": "a936c760.9e0ba",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "CO2 (%)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1550,
        "y": 640,
        "wires": []
    },
    {
        "id": "2588bc74.8335f4",
        "type": "ui_gauge",
        "z": "ea3090fc.fa2968",
        "name": "TVOC (gauge)",
        "group": "a936c760.9e0ba",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "tVOC (PPM.)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1480,
        "y": 740,
        "wires": []
    },
    {
        "id": "968beca2.f43dd8",
        "type": "ui_chart",
        "z": "ea3090fc.fa2968",
        "name": "Temperatura (gráfico)",
        "group": "a936c760.9e0ba",
        "order": 13,
        "width": 15,
        "height": 4,
        "label": "Tempertura (ºC)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1520,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "27a44ae.68b2b36",
        "type": "ui_chart",
        "z": "ea3090fc.fa2968",
        "name": "Ruido (gráfico)",
        "group": "a936c760.9e0ba",
        "order": 14,
        "width": 15,
        "height": 4,
        "label": "Ruido (dB)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1480,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a936c760.9e0ba",
        "type": "ui_group",
        "name": "Robot de Telepresencia",
        "tab": "57375478.e797cc",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "57375478.e797cc",
        "type": "ui_tab",
        "name": "Dani-Guille-Luis",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]